.starwar__container {
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr;
  font-family: "Helvetica Neue";
  height: 100%;
  padding: 0px 0px 150px 0px;

  header {
    grid-area: header;
    padding: 10px 25px 5px;

    .header__text {
      font-style: normal;
      font-weight: 300;
      font-size: 54px;
      line-height: 64px;
      letter-spacing: 0.964286px;
      color: #333333;
      text-decoration: none;
    }

    p {
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 0.916667px;
      color: #666666;
      max-width: 700px;
    }

    @media only screen and (max-width: 1024px) {
      .header__text {
        font-size: 30px;
        line-height: 40px;
      }

      p {
        font-size: 16px;
        line-height: 15px;
      }
    }
  }

  main {
    grid-area: main;

    .starwar__box__align {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 30px;

      &__button {
        border: 1px solid #002b56;
        box-sizing: border-box;
        background: transparent;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.857143px;
        text-transform: uppercase;
        color: #002b56;
        padding: 12px 15px;
        cursor: pointer;
      }
    }

    .starwar__grid {
      padding: 0 0 0 30px;

      p {
        font-style: normal;
        font-weight: 300;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 1px;
        color: #333333;
      }

      .starwar__items {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &__card {
          border: 0.1rem #c0c0c0 solid;
          margin: 1.5rem;
          flex-basis: 16rem;

          img {
            width: 100%;
            max-width: 29rem;
          }

          &__body {
            h4 {
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 28px;
              letter-spacing: 1px;
              color: #000000;
            }

            h6 {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 28px;
              letter-spacing: 1px;
              color: #000000;
            }

            p {
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.5px;
              text-transform: uppercase;
              color: #757575;
            }
          }
        }

        &__card__button {
          margin: auto;

          button {
            background: none;
            border: 1px solid #002b56;
            box-sizing: border-box;
            border-radius: 2px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #002b53;
            padding: 12px 100px;
            margin-top: 70px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
