.starwar__container {
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr;
  height: 100%;

  header {
    grid-area: header;
    padding: 10px 25px 5px;

    .header__text {
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 300;
      font-size: 54px;
      line-height: 64px;
      letter-spacing: 0.964286px;
      color: #333333;
      text-decoration: none;
    }

    p {
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 0.916667px;
      color: #666666;
      max-width: 700px;
    }

    @media only screen and (max-width: 1024px) {
      .header__text {
        font-size: 30px;
        line-height: 40px;
      }

      p {
        font-size: 16px;
        line-height: 15px;
      }
    }
  }

  main {
    grid-area: main;

    @media only screen and (max-width: 1024px) {
      hr {
        margin-top: -20px;
      }
    }

    .starwar__box__align {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
    }

    button {
      border: 1px solid #002b56;
      box-sizing: border-box;
      background: transparent;
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.857143px;
      text-transform: uppercase;
      color: #002b56;
      padding: 12px 15px;
      cursor: pointer;
    }

    section {
      padding: 0px 0px 0px 30px;
    }

    p {
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 300;
      font-size: 34px;
      line-height: 40px;
      letter-spacing: 1px;
      color: #333333;
    }
  }

  .starwar__box__align__center {
    justify-content: center;

    .starwar__card {
      border: 0.1rem #c0c0c0 solid;
      margin: 1.5rem 
      
      img {
        width: 100%;
      }

      .card__body {

        h4 {
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 1px;
          color: #000000;
        }

        h6 {
          font-family: Helvetica Neue;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 1px;
          color: #000000;
        }

        p {
          font-family: Helvetica Neue;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          color: #757575;
        }
      }
    }

    .card__body > * {
        margin-bottom: 10px;
    }
  }
}
